#titulo{
background-color: bisque;
border-radius: 10px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}
#texto{
font-family: fantasy;
text-align: center;


}
#marcos {
    width: 140px;
    border-radius: 10px;
    background-color: blueviolet;
    text-align: center; 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}
#terra{
    border-radius: 10px;
}
.imagem{
    text-align: center;
}
